<div class="container my-4 visibleCarousel">
    <hr class="my-4" />
  
    <!--Carousel Wrapper-->
    <div
      id="multi-item-example"
      class="carousel slide carousel-multi-item"
      data-ride="carousel"
    >
      <!--Controls-->
      <div class="controls-top">
        <a
          class="btn-floating prevbtn"
          href="#multi-item-example"
          data-slide="prev"
          ><i class="fa fa-chevron-left"></i
        ></a>
        <a
          class="btn-floating nextbtn"
          href="#multi-item-example"
          data-slide="next"
          ><i class="fa fa-chevron-right"></i
        ></a>
      </div>
      <!--/.Controls-->
  
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img
                  height="150"
                  class="card-img-top img-carousel"
                  src="../../../../../../../../assets/images/paltosDigitales/aperitivos/1 analisis web.png"
                  alt="Card image cap"
                />
                <br />
                <h4 class="card-title text-center h5">Analisis Web</h4>
                <a class="btn btn-primary">Añadir</a>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img
                  height="150"
                  class="card-img-top img-carousel"
                  src="../../../../../../../../assets/images/paltosDigitales/aperitivos/2 analisis de rrss.png"
                  alt="Card image cap"
                />
                <br />
                <h4 class="card-title text-center h5">Analisis rrss</h4>
                <a class="btn btn-primary">Añadir</a>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img
                  height="150"
                  class="card-img-top img-carousel"
                  src="../../../../../../../../assets/images/paltosDigitales/aperitivos/3 analisis de competencia.png"
                  alt="Card image cap"
                />
                <h4 class="card-title text-center h5">Analisis de competencia</h4>
                <a class="btn btn-primary">Añadir</a>
              </div>
            </div>
          </div>
        </div>
        <!--/.First slide-->
  
        <!--Second slide-->
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img
                  height="150"
                  class="card-img-top img-carousel"
                  src="../../../../../../../../assets/images/paltosDigitales/aperitivos/4 cluster de audiencia.png"
                  alt="Card image cap"
                />
                <h4 class="card-title text-center h5">
                  <br />
                  Cluster de audiencia
                </h4>
                <div class="form-group text-center">
                  <input type="checkbox" id="html" />
                  <label for="html"></label>
                </div>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img
                  height="150"
                  class="card-img-top img-carousel"
                  src="../../../../../../../../assets/images/paltosDigitales/aperitivos/5 Análisis de estrategia de atracción .png"
                  alt="Card image cap"
                />
                <h4 class="card-title text-center h5">
                  Analisis de estrategia de atraccion
                </h4>
                <a class="btn btn-primary">Añadir</a>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img
                  height="150"
                  class="card-img-top img-carousel"
                  src="../../../../../../../../assets/images/paltosDigitales/aperitivos/6 Análisis de pauta digital .png"
                  alt="Card image cap"
                />
                <h4 class="card-title text-center h5">
                  Analisis de pauta digital
                </h4>
                <a class="btn btn-primary">Añadir</a>
              </div>
            </div>
          </div>
        </div>
        <!--/.Second slide-->
  
        <!--Third slide-->
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-2">
                <img
                  height="150"
                  class="card-img-top img-carousel"
                  src="../../../../../../../../assets/images/paltosDigitales/aperitivos/7 Analítica de bases de datos .png"
                  alt="Card image cap"
                />
                <h4 class="card-title text-center h5">
                  Analitica de base de datos
                </h4>
                <a class="btn btn-primary">Añadir</a>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img
                  height="150"
                  class="card-img-top img-carousel"
                  src="../../../../../../../../assets/images/paltosDigitales/aperitivos/8 Análisis de gestión y conversión de leads.png"
                  alt="Card image cap"
                />
                <h4 class="card-title text-center h5">
                  Analisis de gestion y conversion de leads
                </h4>
                <a class="btn btn-primary">Añadir</a>
              </div>
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card mb-2">
                <img
                  height="150"
                  class="card-img-top img-carousel"
                  src="../../../../../../../../assets/images/paltosDigitales/aperitivos/9 Análisis de satisfacción de cliente.png"
                  alt="Card image cap"
                />
                <h4 class="card-title text-center h5">
                  Analisis de satisfaccion del cliente
                </h4>
                <button class="btn btn-primary">Añadir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  