<div class="container my-4 visibleCarousel">
  <hr class="my-4" />

  <!--Carousel Wrapper-->
  <div
    id="multi-item"
    class="carousel slide carousel-multi-item"
    data-ride="carousel"
  >
    <!--Controls-->
    <div class="controls-top">
      <a
        class="btn-floating prevbtn"
        href="#multi-item"
        data-slide="prev"
        ><i class="fa fa-chevron-left"></i
      ></a>
      <a
        class="btn-floating nextbtn"
        href="#multi-item"
        data-slide="next"
        ><i class="fa fa-chevron-right"></i
      ></a>
    </div>
    <!--/.Controls-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4">
            <div  style="border-radius: 30px; box-shadow: 2px 2px 5px #999;" class="card mb-2">
              <img
                class="card-img-top img-carousel"
                src="../../../../../assets/images/paltosDigitales/postres/CONTACT CENTER.png"
                alt="Card image cap"
              />
              <br />
              <h4 class="card-title text-center h5">Analisis Web</h4>
              <div class="form-group text-center">
                <div class="form-group text-center">
                  <input
                    type="checkbox"
                    id="checkboxPostres1"
                  />
                  <label for="checkboxPostres1"></label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 clearfix d-none d-md-block">
            <div style="border-radius: 30px; box-shadow: 2px 2px 5px #999;" class="card mb-2">
              <img
                class="card-img-top img-carousel"
                src="../../../../../assets/images/paltosDigitales/postres/CUSTOMER EXPIERENCE.png"
                alt="Card image cap"
              />
              <br />
              <h4 class="card-title text-center h5">Analisis rrss</h4>
              <div class="form-group text-center">
                <div class="form-group text-center">
                  <input
                    type="checkbox"
                    id="checkboxPostres2"
                  />
                  <label for="checkboxPostres2"></label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 clearfix d-none d-md-block">
            <div style="border-radius: 30px; box-shadow: 2px 2px 5px #999;" class="card mb-2">
              <img
                class="card-img-top img-carousel"
                src="../../../../../assets/images/paltosDigitales/postres/INTEGRACION A SU CRM.png"
                alt="Card image cap"
              />
              <h4 class="card-title text-center h5">Analisis de competencia</h4>
              <div class="form-group text-center">
                <div class="form-group text-center">
                  <input
                    type="checkbox"
                    id="checkboxPostres3"
                  />
                  <label for="checkboxPostres3"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <div style="border-radius: 30px; box-shadow: 2px 2px 5px #999;" class="card mb-2">
              <img
                class="card-img-top img-carousel"
                src="../../../../../assets/images/paltosDigitales/postres/PLATAFORMA CRM.png"
                alt="Card image cap"
              />
              <h4 class="card-title text-center h5">
                <br />
                Cluster de audiencia
              </h4>
              <div class="form-group text-center">
                <div class="form-group text-center">
                  <input
                    type="checkbox"
                    id="checkboxPostres3"
                  />
                  <label for="checkboxPostres3"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
