<div class="col">
  <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-8 col-md-8 divsomos">
          <h3 class="titulouno ">PLATOS</h3>
          <p class="line">______________________</p>
          <br>
          <br>
          <h4 id="titulodos">DIGITALES</h4>

          <p class="textSubtitle">
            Escoge los platos digitales que sean de tu interés, estos estarán presentes en tu carrito, a continuación te mostraremos cada uno de nuestros ingredientes y metodología que usamos en función de medir las recetas par llegar al mejor resultado de alta calidad. 
          </p>

      </div>
  </div>
</div>
<ul class="list-group flex-sm-row">
  <li   id="plato1" (click)="onSelectPlato()"  style="border-radius: 15px" class="list-group-item contenedorPlatoActivo">
    <div>
      <p id="pplato1" class="tituloPlato1 ">Aperitivo</p>
      <img
        id="img1"
        src="../../../../assets/images/+fotos platos digitales/menu-platosD/aperitivos.png"
        class="imgPlato1"
      />
    </div>
  </li>
  <li (click)="onSelectPlato2()"  id="plato2" class="list-group-item ">
    <div>
      <p id="pplato2" class="tituloPlato2">Platos Fuertes</p>
      <br>
      <img
        id="img2"
        src="../../../../assets/images/+fotos platos digitales/menu-platosD/Platos fuertes.png"
        class="imgPlato2"
        />
    </div>
  </li>
  <li (click)="onSelectPlato3()"  id="plato3" class="list-group-item ">
    <div>
      <p id="pplato3" style="margin-top: -9%;" class="tituloPlato3 plato3p">Platos Especiales</p>
      <img
        id="img3"
        src="../../../../assets/images/+fotos platos digitales/menu-platosD/platos especiales.png"
        class="imgPlato3"
      />
    </div>
  </li>
  <li (click)="onSelectPlato4()"  id="plato4" class="list-group-item ">
    <div>
      <p id="pplato4" style="margin-left: 1%;" class="tituloPlato4">Adiciones</p>
      <img
        id="img4"
        src="../../../../assets/images/+fotos platos digitales/menu-platosD/adciones.png"
        class="imgPlato4"
      />
    </div>
  </li>
  <li (click)="onSelectPlato5()"  style="border-radius: 15px "  id="plato5" class="list-group-item ">
    <div>
      <p id="pplato5" style="margin-left: 12%;" class="tituloPlato5">Postres</p>
      <img
        id="img5"
        src="../../../../assets/images/+fotos platos digitales/menu-platosD/postres.png"
        class="imgPlato5"
      />
    </div>
  </li>
</ul>

<!--/.Navbar-->
<section id="backgroundRed" class="backgroundPlato1">
  <div class="container">
    <div class="row text-center h5 text-xs-center text-sm-left text-md-left">
      <div class="col col-xs-12 col-sm-4 col-md-4">
        <div class="col-sm-4 py-2">
          <img
            class="mujerplatosDigitales"
            src="../../../../assets/images/mujerplatosdigitales.png"
          />
        </div>
      </div>
      <div class="col col-xs-12 col-sm-12 col-md-8 contenedorplatos">
        <app-aperitivo
          id="aperitivosCarousel"
          class="container my-4 visibleCarousel col-xs-12 col-sm-12 col-md-8"
        ></app-aperitivo>
        <app-platos-fuertes
          id="platosFuertesCarousel"
          class="container my-4 invisibleCarousel col-xs-12 col-sm-12 col-md-8"
        ></app-platos-fuertes>
        <app-platos-especiales
          id="platosEspecialesCarousel"
          class="container my-4 invisibleCarousel col-xs-12 col-sm-12 col-md-8"
        ></app-platos-especiales>
        <app-adiciones
          id="adicionesCarousel"
          class="container my-4 invisibleCarousel col-xs-12 col-sm-12 col-md-8"
        ></app-adiciones>
        <app-postres
          id="postresCarousel"
          class="container my-4 invisibleCarousel col-xs-12 col-sm-12 col-md-8"
        ></app-postres>
      </div>
    </div>
  </div>
</section>
