<section>
  <nav class="navbar navbar-expand-lg navbar-dark primary-color znavbar">
    <!-- Navbar brand -->
    <h1 class="navbar-brand">Platos Digitales</h1>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <!-- Links -->
      <ul class="navbar-nav ml-12 texttomato">
        <li style="display: none" class="nav-items contenedorPlatoActivo">
          <div>
            <img
              id="icon-platos"
              src="../../../../assets/images/+fotos platos digitales/menu-platosD/aperitivos.png"
              class="imgPlato"
            />
          </div>
        </li>
        <li
          (click)="onSelectPlato()"
          id="plato1"
          class="nav-items contenedorPlatoActivo plato1"
          data-options="../../../../assets/images/menu-img/foto aperitivo.png"
        >
          <div>
            <p id="pplato1" class="tituloPlato1">Aperitivo</p>
            <img
              id="icon-platos"
              src="../../../../assets/images/+fotos platos digitales/menu-platosD/aperitivos.png"
              class="imgPlato"
            />
          </div>
        </li>

        <li
          (click)="onSelectPlato2()"
          id="plato2"
          class="nav-items contenedorPlato plato2"
          data-options="../../../../assets/images/menu-img/foto aperitivo.png"
        >
          <div>
            <p id="pplato2" class="tituloPlato2">Platos Fuertes</p>
            <img
              id="icon-platos"
              src="../../../../assets/images/+fotos platos digitales/menu-platosD/Platos fuertes.png"
              class="imgPlato"
            />
          </div>
        </li>

        <li
          (click)="onSelectPlato3()"
          id="plato3"
          class="nav-items contenedorPlato plato3"
          data-options="../../../../assets/images/menu-img/foto aperitivo.png"
        >
          <div>
            <p id="pplato3" class="tituloPlato plato3p">Platos Especiales</p>
            <img
              id="icon-platos"
              src="../../../../assets/images/+fotos platos digitales/menu-platosD/platos especiales.png"
              class="imgPlato"
            />
          </div>
        </li>

        <li
          (click)="onSelectPlato4()"
          id="plato4"
          class="nav-items contenedorPlato plato4"
          data-options="../../../../assets/images/menu-img/foto aperitivo.png"
        >
          <div>
            <p id="pplato4" class="tituloPlato">Adiciones</p>
            <img
              id="icon-platos"
              src="../../../../assets/images/+fotos platos digitales/menu-platosD/postres.png"
              class="imgPlato"
            />
          </div>
        </li>

        <li
          (click)="onSelectPlato5()"
          id="plato5"
          class="nav-items contenedorPlato plato5"
          data-options="../../../../assets/images/menu-img/foto aperitivo.png"
        >
          <div>
            <p id="pplato5" class="tituloPlato">Postres</p>
            <img
              id="icon-platos"
              src="../../../../assets/images/+fotos platos digitales/menu-platosD/aperitivos.png"
              class="imgPlato"
            />
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar-->
  <section id="backgroundRed" class="backgroundPlato1">
    <div class="container">
      <div class="row text-center h5 text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <div class="col-sm-4 py-2">
            <img
              class="mujerplatosDigitales"
              src="../../../../assets/images/mujerplatosdigitales.png"
            />
          </div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 contenedorplatos">
          <app-aperitivo id="aperitivosCarousel" class="container my-4 visibleCarousel"></app-aperitivo>
          <app-platos-fuertes id="platosFuertesCarousel" class="container my-4 invisibleCarousel"></app-platos-fuertes>
          <app-platos-especiales id="platosEspecialesCarousel" class="container my-4 invisibleCarousel"></app-platos-especiales>
          <app-adiciones  id="adicionesCarousel" class="container my-4 invisibleCarousel"></app-adiciones>
          <app-postres  id="postresCarousel" class="container my-4 invisibleCarousel"></app-postres>
        </div>
      </div>
    </div>
  </section>
</section>
