<div class="container my-4 visibleCarousel">
  <hr class="my-4" />

  <!--Carousel Wrapper-->
  <div
    id="multi-item-example1"
    class="carousel slide carousel-multi-item"
    data-ride="carousel"
  >
    <!--Controls-->
    <div class="controls-top">
      <a
        class="btn-floating prevbtn"
        href="#multi-item-example1"
        data-slide="prev"
        ><i class="fa fa-chevron-left"></i
      ></a>
      <a
        class="btn-floating nextbtn"
        href="#multi-item-example1"
        data-slide="next"
        ><i class="fa fa-chevron-right"></i
      ></a>
    </div>
    <!--/.Controls-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4">
            <div
              style="border-radius: 30px; box-shadow: 2px 2px 5px #999"
              class="card mb-2"
            >
              <img
                height="150"
                class="card-img-top img-carousel"
                src="../../../../../assets/images/paltosDigitales/adiciones/CALIFICACIÓN DE LEADS .png"
                alt="Card image cap"
              />
              <br />
              <h4 class="card-title text-center h5">Calificacion de leads</h4>
               <div class="form-group text-center">
                <div class="form-group text-center">
                  <input
                    type="checkbox"
                    id="checkboxAdiciones1"
                  />
                  <label for="checkboxAdiciones1"></label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 clearfix d-none d-md-block">
            <div
              style="border-radius: 30px; box-shadow: 2px 2px 5px #999"
              class="card mb-2"
            >
              <img
                height="150"
                class="card-img-top img-carousel"
                src="../../../../../assets/images/paltosDigitales/adiciones/CONVERSIÓN DE LEADS .png"
                alt="Card image cap"
              />
              <br />
              <h4 class="card-title text-center h5">Conversion de leads</h4>
               <div class="form-group text-center">
                <div class="form-group text-center">
                  <input
                    type="checkbox"
                    id="checkboxAdiciones2"
                  />
                  <label for="checkboxAdiciones2"></label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 clearfix d-none d-md-block">
            <div
              style="border-radius: 30px; box-shadow: 2px 2px 5px #999"
              class="card mb-2"
            >
              <img
                height="150"
                class="card-img-top img-carousel"
                src="../../../../../assets/images/paltosDigitales/adiciones/GESTIÓN DE LEADS.png"
                alt="Card image cap"
              />
              <br />
              <h4 class="card-title text-center h5">Gestion de leads</h4>
               <div class="form-group text-center">
                <div class="form-group text-center">
                  <input
                    type="checkbox"
                    id="checkboxAdiciones3"
                  />
                  <label for="checkboxAdiciones3"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
