@media (min-width: 728px) {
  p.line {
    text-align: inherit;
    font-weight: 900;
    color: #4ac3f2;
    margin-top: -15%;
    margin-left: 26.5pc;
    position: absolute;
  }
  .title {
    color: #4ac3f2;
    font: 115px sans-serif;
    margin-left: 160%;
  }
  .subtitle {
    font-size: 45px;
    width: 608%;
    margin-left: -79%;
    line-height: 100%;
  }
  .contenedorBlog {
    transform: translateX(-44%);
    margin-top: 5%;
    margin-left: 45%;
    margin-bottom: 8%;
  }
  .imgBlog {
    margin-top: 5%;
    width: 255%;
  }

  .cardBlog {
    margin-top: 5%;
    border-radius: 15px;
    box-shadow: 13px 13px 21px #999;
    width: 223%;
    height: 25%;
    margin-left: 17%;
  }
  .cardTextBlog {
    font-size: 45px;
    text-align: center;
    line-height: 100%;
  }
} 

@media (min-width: 1024px) {
  p.line {
    text-align: inherit;
    font-weight: 900;
    color: #4ac3f2;
    margin-top: -7%;
    margin-left: 9%;
    position: absolute;
  }
  .title {
    color: #4ac3f2;
    font: 80px sans-serif;
    margin-left: 10%;
  }
  .subtitle {
    font-size: 25px;
    width: 200%;
    margin-left: -79%;
  }
  .contenedorBlog {
    transform: translateX(-44%);
    margin-top: 5%;
    margin-left: 45%;
    margin-bottom: 8%;
  }
  .imgBlog {
      margin-top: 5%;
    width: 100%;

  }

  .cardBlog {
    margin-top: 5%;
    border-radius: 15px;
    box-shadow: 13px 13px 21px #999;
    width: 100%;
    height: 25%;
    margin-left: 0%;
  }
  .cardTextBlog {
    font-size: 25px;
    text-align: center;
  }
} 

@media (min-width: 1440px) {
  p.line {
    text-align: inherit;
    font-weight: 900;
    color: #4ac3f2;
    margin-top: -7%;
    margin-left: 9%;
    position: absolute;
  }
  .title {
    color: #4ac3f2;
    font: 80px sans-serif;
    margin-left: 10%;
  }
  .subtitle {
    font-size: 25px;
    width: 200%;
    margin-left: -79%;
  }
  .contenedorBlog {
    transform: translateX(14%);
    margin-top: 5%;
    margin-left: 0%;
    margin-bottom: 8%;
  }
  .imgBlog {
      margin-top: 5%;
  }

  .cardBlog {
    margin-top: 5%;
    border-radius: 15px;
    box-shadow: 13px 13px 21px #999;
    width: 100%;
    height: 25%;
    margin-left: 0%;
  }
  .cardTextBlog {
    font-size: 25px;
    text-align: center;
  }
}

@media (min-width: 1920px) {
  p.line {
    text-align: inherit;
    font-weight: 900;
    color: #4ac3f2;
    margin-top: -7%;
    margin-left: 9%;
    position: absolute;
  }
  .title {
    color: #4ac3f2;
    font: 80px sans-serif;
    margin-left: 10%;
  }
  .subtitle {
    font-size: 25px;
    width: 200%;
    margin-left: -79%;
  }
  .contenedorBlog {
    transform: translateX(14%);
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 8%;
  }
  .imgBlog {
      margin-top: 5%;
  }

  .cardBlog {
    margin-top: 5%;
    border-radius: 15px;
    box-shadow: 13px 13px 21px #999;
    width: 100%;
    height: 25%;
    margin-left: 0%;
  }
  .cardTextBlog {
    font-size: 25px;
    text-align: center;
  }
}
