<div class="container contenedorBlog">
    <div class="row">
      <div style="margin-left: 35%;" class="col-sm">
        <div class="col-xs-12 col-sm-4 col-md-8">
          <h1
            class="title"
          >
            BLOG
          </h1>
          <p class="line">______________________</p>
          <p class="subtitle">Publicaciones permanentes sobre marketing digital que ayude a mejorar el SEO.</p>
        </div>
      </div>
      <div class="col-sm-12 mx-auto imgBlog">
        <div class="">
            <img src="../../../../assets/images/blog/blog-tips.jpg" class=" imgBlog" alt="Responsive image">
        </div>
        <div class="card cardBlog">
            <div class="card-body cardTextBlog">
                El plato digital que conocemos como SEO es bastante importante en nuestras estrategias de marketing digital, ya que gracias a este generamos contenido de calidad que despierte interés entre determinado target de manera orgánica sin pagos adicionales, a continuación te daré unos tips esenciales para lograr que tus recetas encaminadas al objetivo del plato digital SEO tengan un resultado eficiente. Leer más
            </div>
          </div>
      </div>

      <div class="col-sm-12 mx-auto imgBlog">
        <div class="">
            <img src="../../../../assets/images/blog/blog-tendencias.jpg" class=" imgBlog" alt="Responsive image">
        </div>
        <div class="card cardBlog">
            <div class="card-body cardTextBlog">
                Para saber como tu receta basada estrategia de SEO para llegar al plato digital final sea efectiva y no tenga un declive, es importante conocer las tendencias, a continuación te contaré con la finalidad de que sean funcionales para ti.
            </div>
          </div>
      </div>

    </div>
  </div>