@media (min-width: 728px) {
  p.line {
    text-align: inherit;
    font-weight: 900;
    color: #4ac3f2;
    margin-top: -7%;
    margin-left: 1%;
    position: absolute;
  }
  .title {
    color: #4ac3f2;
    font: 115px sans-serif;
  }
  .subtitle {
    color: #000000;
    font: 45px sans-serif;
  }
  .contenedorGallery {
    transform: translateX(14%);
  }
  .videoContenedor {
  }

  .contenedor-contact-inputs {
    /* padding: 0px 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .form-input {
    border-radius: 15px !important;
  }

  input[placeholder],
  [placeholder],
  *[placeholder] {
    color: #28567e !important;
    border-radius: 15px;
    background-color: #aaacaf;
  }
  .cardForm {
    box-shadow: 13px 13px 21px #999;
    margin-bottom: 5%;
    border-radius: 15px;
    margin-left: -40%;
    transform: translateX(29.2%);
    width: 202%;
    margin-top: 16%;
  }
}

@media (min-width: 1024px) {
  p.line {
    text-align: inherit;
    font-weight: 900;
    color: #4ac3f2;
    margin-top: -7%;
    margin-left: 1%;
    position: absolute;
  }
  .title {
    color: #4ac3f2;
    font: 80px sans-serif;
  }
  .subtitle {
    color: #000000;
    font: 25px sans-serif;
  }
  .contenedorGallery {
    transform: translateX(14%);
  }
  .videoContenedor {
  }

  .contenedor-contact-inputs {
    /* padding: 0px 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .form-input {
    border-radius: 15px !important;
  }

  input[placeholder],
  [placeholder],
  *[placeholder] {
    color: #28567e !important;
    border-radius: 15px;
    background-color: #aaacaf;
  }
  .cardForm {
    box-shadow: 13px 13px 21px #999;
    margin-bottom: 5%;
    border-radius: 15px;
    margin-left: -40%;
    transform: translateX(47.2%);
    width: 92%;
  }
}

@media (min-width: 1440px) {
  p.line {
    text-align: inherit;
    font-weight: 900;
    color: #4ac3f2;
    margin-top: -7%;
    margin-left: 1%;
    position: absolute;
  }
  .title {
    color: #4ac3f2;
    font: 50px sans-serif;
  }
  .subtitle {
    color: #000000;
    font: 25px sans-serif;
  }
  .contenedorGallery {
    transform: translateX(14%);
  }
  .videoContenedor {
  }

  .contenedor-contact-inputs {
    /* padding: 0px 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .form-input {
    border-radius: 15px !important;
  }

  input[placeholder],
  [placeholder],
  *[placeholder] {
    color: #28567e !important;
    border-radius: 15px;
    background-color: #aaacaf;
  }
  .cardForm {
    box-shadow: 13px 13px 21px #999;
    margin-bottom: 5%;
    border-radius: 15px;
    margin-left: -9%;
    transform: translateX(10%);
  }
}

@media (min-width: 1920px) {
  p.line {
    text-align: inherit;
    font-weight: 900;
    color: #4ac3f2;
    margin-top: -7%;
    margin-left: 1%;
    position: absolute;
  }
  .title {
    color: #4ac3f2;
    font: 50px sans-serif;
  }
  .subtitle {
    color: #000000;
    font: 25px sans-serif;
  }
  .contenedorGallery {
    transform: translateX(14%);
  }
  .videoContenedor {
  }

  .contenedor-contact-inputs {
    /* padding: 0px 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .form-input {
    border-radius: 15px !important;
  }

  input[placeholder],
  [placeholder],
  *[placeholder] {
    color: #28567e !important;
    border-radius: 15px;
    background-color: #aaacaf;
  }
  .cardForm {
    box-shadow: 13px 13px 21px #999;
    margin-bottom: 5%;
    border-radius: 15px;
    margin-left: 3%;
    transform: translateX(3%);
  }
}
 