<div  class="container contenedorTestify">
  <div class="row">
    <div  class="col-sm">
      <div class="col-xs-12 col-sm-4 col-md-8">
        <h1 class="title">TESTIMONIOS</h1>
        <p class="line">_______________________________</p>
      </div>
    </div>

    <div class="col-sm-12 mx-auto">
      <div class="">
        <div class="card textContainer">
          <p class="card-text text">
            Queremos compartir algunos de los testimonios que hemos tenido con
            nuestros clientes, evidenciando la experiencia que han tenido con
            nuestros platos digitales y como esto ha cumplido las expectativas
            de la empresa.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 mx-auto">
      <div class="container my-4 visibleCarousel contenedorCarousel">
        <hr class="my-4" />
        <!--Carousel Wrapper-->
        <div
          id="testifyCarousel"
          class="carousel slide carousel-testifyCarousel carouselTestimonios"
          data-ride="carousel"
          data-interval="4000"
        >
          <!--Controls-->
          <div class="controls-top">
            <a class="btn-floating prevbtn" href="#testifyCarousel" data-slide="prev"
              ><i class="fa fa-chevron-left"></i
            ></a>
            <a class="btn-floating nextbtn" href="#testifyCarousel" data-slide="next"
              ><i class="fa fa-chevron-right"></i
            ></a>
          </div>
          <!--/.Controls-->

          <!--Slides-->
          <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-12">
                  <div
                    style="border-radius: 30px; box-shadow: 2px 2px 5px #999"
                    class="card mb-2"
                  >
                    <img
                      class="card-img-top img-carousel"
                      src="../../../../assets/images/autoyota_logo.png"
                      alt="Card image cap"
                    />
                    <br />
                    <div class="divTextContent">
                      <p class="h5 titleP">
                        “Desde el año 2010., Tu consulta con su marca Novoclick
                        Group, nos ha venido prestado el servicio de email
                        marketing con cumplimiento y calidad, en nuestras
                        principales marcas como: Lumovil, Renault, Lumosa Ford,
                        Autos Marca Mazda, Lifan Motos, Autoyota”.
                      </p>
                      <p class="h6 subtitle">- Autoyota -</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/.First slide-->

            <!--Second slide-->
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-12">
                  <div
                    style="border-radius: 30px; box-shadow: 2px 2px 5px #999"
                    class="card mb-2"
                  >
                  <img
                  class="card-img-top img-carousel"
                  src="../../../../assets/images/dinissan.png"
                  alt="Card image cap"
                />
                <br />
                <div class="divTextContent">
                  <p class="h5 titleP">
                    “Novoclick marca registrada de tu consulta,
                     nos presta el servicio de email marketing,
                     brindándonos responsabilidad y puntualidad con su servicio,
                    los recomendamos ampliamente”.
                  </p>
                  <p class="h6 subtitle">- Dinissan -</p>
                </div>
                  </div>
                </div>
              </div>
          </div>
           <!--/Second slide-->
              <!--4 slide-->
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-12">
                    <div
                      style="border-radius: 30px; box-shadow: 2px 2px 5px #999"
                      class="card mb-2"
                    >
                    <img
                    class="card-img-top img-carousel"
                    src="../../../../assets/images/citroen.png"
                    alt="Card image cap"
                  />
                  <br />
                  <div class="divTextContent">
                    <p class="h5 titleP">
                        “Novoclick marca registrada de tu consulta, es nuestro proveedor desde hace dos años y su labor ha enfocado el envio de campañas de email marketing segmentadas, brindándonos resultados rápidos medibles, reforzando nuestra labor en el departamento de mercadeo
                                        y es una herramienta potencial en nuestro departamento comercial. Recomendamos a Novoclick como una empresa seria con trayectoria, efectiva y comprometida con sus clientes”.
                    </p>
                    <p class="h6 subtitle">- Citroén -</p>
                  </div>
                    </div>
                  </div>
                </div>
            </div>
             <!--/4 slide-->

        </div>
      </div>
    </div>
  </div>
</div>
