@media (min-width: 1024px) {
    p.line {
      text-align: inherit;
      font-weight: 900;
      color: #4ac3f2;
      margin-top: -1.5%;
      margin-left: 15%;
      position: absolute;
    }
    .title{
      font-size: 50px;
      color: #4ac3f2;
      margin: 0;
      margin-top: 26%;
  }
    .contenedorTestify {
      transform: translateX(42%);
      margin-bottom: 10%;
      margin-top: 3%;
      margin-left: 13%;
    }
    .textContainer {
      width: 130%;
      border-radius: 15px;
      margin-left: -13%;
      border-color: #ffffff00;
      margin-top: 6%;
    }
    .text {
      font-size: 25px;
      text-align: center;
    }
  
    .contenedorCarousel {
      transform: translateX(0px);
      width: 100%;
    }
  
    .prevbtn {
      position: absolute;
      margin-top: 14%;
      margin-left: -43px;
      font-size: 50px;
    }
    .nextbtn {
      position: absolute;
      font-size: 50px;
      margin-left: 101%;
      margin-top: 14%;
    }
    .znavbar {
      z-index: 2;
      margin-top: 7%;
    }
  
    .sectionPlatos {
      padding-top: 15%;
    }
    .img-carousel {
      height: 150px;
      width: 150px;
      margin-left: 43.6%;
    }
    .titleP{
        text-align: center;
        font: 25px sans-serif;
    }
    .subtitle{
        text-align: center;
    }
    .divTextContent{
      background-color: #eeeaea;
      border-radius: 24px;
      margin-bottom: 2%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }
@media (min-width: 1440px) {
    p.line {
      text-align: inherit;
      font-weight: 900;
      color: #4ac3f2;
      margin-top: -1.5%;
      margin-left: 15%;
      position: absolute;
    }
    .title{
      font-size: 50px;
      color: #4ac3f2;
      margin: 0;
      margin-top: 26%;
  }
    .contenedorTestify {
      transform: translateX(0px);
      margin-bottom: 10%;
      margin-top: 3%;
      margin-left: 13%;
    }
    .textContainer {
      width: 130%;
      border-radius: 15px;
      margin-left: -13%;
      border-color: #ffffff00;
      margin-top: 6%;
    }
    .text {
      font-size: 25px;
      text-align: center;
    }
  
    .contenedorCarousel {
      transform: translateX(0px);
      width: 100%;
    }
  
    .prevbtn {
      position: absolute;
      margin-top: 14%;
      margin-left: -43px;
      font-size: 50px;
    }
    .nextbtn {
      position: absolute;
      font-size: 50px;
      margin-left: 101%;
      margin-top: 14%;
    }
    .znavbar {
      z-index: 2;
      margin-top: 7%;
    }
  
    .sectionPlatos {
      padding-top: 15%;
    }
    .img-carousel {
      height: 150px;
      width: 150px;
      margin-left: 43.6%;
    }
    .titleP{
        text-align: center;
        font: 25px sans-serif;
    }
    .subtitle{
        text-align: center;
    }
    .divTextContent{
      background-color: #eeeaea;
      border-radius: 24px;
      margin-bottom: 2%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }
  
@media (min-width: 1920px) {
  p.line {
    text-align: inherit;
    font-weight: 900;
    color: #4ac3f2;
    margin-top: -1.5%;
    margin-left: 15%;
    position: absolute;
  }
  .title{
    font-size: 50px;
    color: #4ac3f2;
    margin: 0;
    margin-top: 26%;
}
  .contenedorTestify {
    transform: translateX(14%);
    margin-bottom: 10%;
    margin-top: 3%;
    margin-left: 13%;
  }
  .textContainer {
    width: 130%;
    border-radius: 15px;
    margin-left: -13%;
    border-color: #ffffff00;
    margin-top: 6%;
  }
  .text {
    font-size: 25px;
    text-align: center;
  }

  .contenedorCarousel {
    transform: translateX(0px);
    width: 100%;
  }

  .prevbtn {
    position: absolute;
    margin-top: 14%;
    margin-left: -43px;
    font-size: 50px;
  }
  .nextbtn {
    position: absolute;
    font-size: 50px;
    margin-left: 101%;
    margin-top: 14%;
  }
  .znavbar {
    z-index: 2;
    margin-top: 7%;
  }

  .sectionPlatos {
    padding-top: 15%;
  }
  .img-carousel {
    height: 150px;
    width: 150px;
    margin-left: 43.6%;
  }
  .titleP{
      text-align: center;
      font: 25px sans-serif;
  }
  .subtitle{
      text-align: center;
  }
  .divTextContent{
    background-color: #eeeaea;
    border-radius: 24px;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
