@media (min-width: 1024px) {
  .containerCss {
    margin-top: 15%;
    transform:  translateX(100%);
  }
  h3.titulouno {
    font-size: 80px;
    font-family: sans-serif;
    color: #4ac3f2;
    margin: 0;
    margin-left: -235%;
  }

  h4#titulodos {
    font-size: 80px;
    font-family: sans-serif;
    color: #606060;
    margin-top: -24px;
    text-align: center;
    position: absolute;
    margin-left: 96%;
  }

  p.line {
    text-align: inherit;
    font-weight: 900;
    color: #4ac3f2;
    margin-top: -34%;
    margin-left: -234%;
  }

  .imgtomate {
    margin-left: -50%;
    margin-top: -16%;
  }

  .texttomato {
    margin-left: -213%;
    font-size: 25px;
    margin-top: 23%;
    transform: translateX(23%);
  }
}
@media (min-width: 1440px) {
  .containerCss {
    transform: translateX(5%);
  }
  h3.titulouno {
    font-size: 80px;
    font-family: sans-serif;
    color: #4ac3f2;
    margin: 0;
    margin-left: -70%;
  }

  h4#titulodos {
    font-size: 80px;
    font-family: sans-serif;
    color: #606060;
    margin-top: -25px;
    text-align: center;
    position: absolute;
    margin-left: 95%;
  }

  p.line {
    text-align: inherit;
    font-weight: 900;
    color: #4ac3f2;
    margin-top: -33%;
    margin-left: -68%;
  }

  .imgtomate {
    margin-left: -50%;
    margin-top: -16%;
  }

  .texttomato {
    margin-left: -4%;
    font-size: 25px;
  }
}
@media (min-width: 1920px) {
  .containerCss {
    transform: translateX(5%);
  }
  h3.titulouno { 
    font-size: 80px;
    font-family: sans-serif;
    color: #4ac3f2;
    margin: 0;
    margin-left: -70%;
  }

  h4#titulodos {
    font-size: 80px;
    font-family: sans-serif;
    color: #606060;
    margin-top: -20px;
    text-align: center;
    position: absolute;
    margin-left: 75%;
  }

  p.line {
    text-align: inherit;
    font-weight: 900;
    color: #4ac3f2;
    margin-top: -25%;
    margin-left: -68%;
  }

  .imgtomate {
    margin-left: -50%;
    margin-top: 13%;
  }

  .texttomato {
    margin-left: -4%;
    font-size: 25px;
  }
}
