<div class="containerCss">
  <div class="row">

    <div class="col">
        <div class="containerSubtitle border-light mb-3">
            <div class="">
              <p class=" h5 texttomato">
                Somos el mejor restaurante digital, nos destacamos por tener 5
                estrellas Michelin, somos capaces de resolver tus necesidades de
                perfomance,
                tú nos dices el plato digital que quieres y nosotros te ponemos los
                ingredientes y lo cocinamos para llegar al resultado exquisito, vas
                a salir satisfecho y encantado después de trabajar con nosotros,
                tendrás el mejor plato para que todos tus clientes saboreen el
                increíble sabor y no paren de hablar de él.
              </p>
            </div>
          </div>
      </div>


    <div class="col-sm"></div>

    <div class="col">
      <div class="col-xs-12 col-sm-8 col-md-12 contenedorTitulo">
        <h3 class="titulouno">QUÉ<br><br><br> HACEMOS <h4 id="titulodos">POR  TI </h4></h3>
        <br>
        <br>
        <p class="line">______________________</p>
        <br>
        <br>
        <br>
        
        <img
          height="450"
          class="imgtomate img-fluid"
          src="../../../../assets/images/fondos/tomatiis.png"
        />
        <div id="avatar2"  style="display: none;"  class="avatar ">
          <div>
              <div class="img-avatar">
                  <img src="../../../../assets/images/nuevosAvatars/quehacemosporti.png">
              </div>
              <div class="text-avatar buttonAvatar">
                  <button class="btn-avatar active-elements">VAMOS</button>
                  <a class="no-show-avatar">Omitir </a>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
