<section id="footer">
    <div class="container moveclass">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-8 col-md-8 texttomato">
                <a class="somos">
                    Somos el mejor restaurante digital, nos destacamos por tener 5 estrellas Michelin, 
                    somos capaces de resolver tus necesidades de perfomance,<br>
                    tú nos dices el plato digital que quieres y nosotros te ponemos los ingredientes y lo cocinamos para llegar al resultado exquisito,
                    vas a salir satisfecho y encantado después de trabajar con nosotros,<br>
                    tendrás el mejor plato para que todos tus clientes saboreen el increíble sabor y no paren de hablar de él.
                </a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 divquehacemos">
                <h3 class="titulounoque">QUÉ</h3>
                &nbsp;
                <h3 class="titulouno ">HACEMOS</h3>
                <p class="line">______________________</p>
                <h4 id="titulodos">POR TI</h4>
                <img height="450" class="imgtomate" src="../../../../assets/images/fondos/tomatiis.png">
            </div>
        </div>
    </div>
</section>


`