	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4 divsomos">
                    <h3 class="titulouno ">QUIÉNES</h3>
                    <p class="line">______________________</p>
                    <h4 id="titulodos">SOMOS</h4>
                    <img  class="imgtomate" src="../../../../assets/images/fondos/tomate-chevere.png">
				</div>
				<div class="col-xs-8 col-sm-8 col-md-8 texttomato">
                        <a class="somos">
                          Somos la autoridad de marketing digital con 18 años de experiencia y presencia en 5 países (Colombia, España, Panamá, México y Perú) con 9 millones de suscriptores perfilados, donde cocinamos las recetas que necesitas para incrementar de forma inmediata
                          y sobresaliente el volumen de usuarios, ingresos o impactos de tú empresa, llegaremos a la fidelización de tus futuros clientes gracias a técnicas, herramientas y análisis científico que son nuestros ingredientes especiales.
                        </a>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-12">
                            <div class="avatar initial-avatar">
                                <div>
                                    <div class="img-avatar">
                                        <img src="../../../../assets/images/avatar_y_popups/1 avatar.png">
                                    </div>
                                    <div class="text-avatar">
                                        <button class="btn-avatar active-elements">VAMOS</button>
                                        <a class="no-show-avatar">Omitir </a>
                                    </div>
                                </div>
                            </div>
				        </div>
			    </div>	
		</div>
	</section>

