<div style="margin-left: 13%;" class="container contenedorGallery">
  <div class="row">
    <div class="col-sm">
      <div class="col-xs-12 col-sm-4 col-md-8 divsomos">
        <h1
          class="title"
        >
          GALERÍA PINTEREST
        </h1>
        <p class="line">______________________</p>
      </div>
    </div>
    <div class="col-sm-12 mx-auto videoContenedor">
      <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="video-fluid z-depth-1 " loop="true" controls  autoplay=autoplay>
                <source src="../../../../assets/video/Novoclick video.mp4">
              </video>
        </div>
      </div>
    </div>
  </div>
</div>
