<div  id="hamButtom" class="container-hamburger effect">
  <i (click)="visibleClick()" class="fa fa-bars"></i>
</div>
<nav>
      <a class="item1 px-2 disableHamItems" id="nosotros-1" >
          <p (click)="nosotros()" >Nosotros</p>
      </a>
 
      <a class="item2 px-2 disableHamItems"  id="herramientas-1">
          <p (click)="herramientas()">Herramientas Digitales</p>
      </a>
    
      <a class="item3 px-2 disableHamItems"  id="platos-digitales-1">
          <p (click)="platosDigitales()">Platos Digitales</p>
      </a>
        <p class="itemx px-2 disableHamItems" id="closeHamburgerMenu" (click)="invisibleClick()" >X</p>
</nav>
