<div id="hamButtom" class="container-hamburger effect">
  <i (click)="visibleClick()" class="fa fa-bars"></i>
</div>
<nav>
      <a class="item1 px-2 disableHamItems" id="nosotros-1" href="#nosotros">
          <p (click)="invisibleClick()" >Nosotros</p>
      </a>
 
      <a class="item2 px-2 disableHamItems"  id="herramientas-1" href="#herramientas">
          <p (click)="invisibleClick()">Herramientas Digitales</p>
      </a>
    
      <a class="item3 px-2 disableHamItems"  id="platos-digitales-1" href="#platos-digitales">
          <p (click)="invisibleClick()">Platos Digitales</p>
      </a>
</nav>
