<div id="loading">
    <div class="back">
      <img class="imgtop" src="../assets//images/logonovoclickblanco.png">
    </div>
</div>
<app-navbar></app-navbar>
<app-start #start id="start" class="start col-xs-12 col-sm-8 col-md-8"></app-start>
<app-about-us id="about-us" class="about col-xs-12 col-sm-12 col-md-8"></app-about-us>
<app-what-we-do-for-you id="what" class="what col-xs-12 col-sm-12 col-md-8"></app-what-we-do-for-you>
<app-tools id="tools" class="tools"></app-tools>
<app-dishes id="dishes" class="dishes col-xs-12 col-sm-12 col-md-8"></app-dishes>
<app-clients ></app-clients>
<app-chef></app-chef>