<div class="container my-4 ">
    <hr class="my-4" />
  
    <!--Carousel Wrapper-->
    <div
      id="academyCarousel"
      class="carousel slide carousel-multi-item visibleCarousel"
      data-ride="carousel"
    >
      <!--Controls-->
      <div class="controls-top">
        <a
          class="btn-floating prevbtn"
          href="#academyCarousel"
          data-slide="prev"
          ><i class="fa fa-chevron-left"></i
        ></a>
        <a
          class="btn-floating nextbtn"
          href="#academyCarousel"
          data-slide="next"
          ><i class="fa fa-chevron-right"></i
        ></a>
      </div>
      <!--/.Controls-->
  
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-4">
                <img
                  class="card-img-top img-carousel"
                  src="../../../../../assets/images/academia_novoclick/Mesa de trabajo 107-100.jpg"
                  alt="Card image cap"
                />
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
                <img
                  class="card-img-top img-carousel"
                  src="../../../../../assets/images/academia_novoclick/Mesa de trabajo 108-100.jpg"
                  alt="Card image cap"
                />
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
              
                <img
                  class="card-img-top img-carousel"
                  src="../../../../../assets/images/academia_novoclick/Mesa de trabajo 109-100.jpg"
                  alt="Card image cap"
                />
            </div>
          </div>
        </div>
        <!--/.First slide-->
  
        <!--Second slide-->
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-4">
                <img
                  class="card-img-top img-carousel"
                  src="../../../../../assets/images/academia_novoclick/Mesa de trabajo 110-100.jpg"
                  alt="Card image cap"
                />
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
                <img
                  class="card-img-top img-carousel"
                  src="../../../../../assets/images/academia_novoclick/Mesa de trabajo 111-100.jpg"
                  alt="Card image cap"
                />
            </div>
            <div class="col-md-4 clearfix d-none d-md-block">
                <img
                  class="card-img-top img-carousel"
                  src="../../../../../assets/images/academia_novoclick/Mesa de trabajo 112-100.jpg"
                  alt="Card image cap"
                />
               
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  