<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm">
      <div class="col-xs-12 col-sm-4 col-md-8">
        <h3
          class="titulouno"
        >
          Academia
        </h3>
        <p class="line">______________________</p>
        <h4
          class="titulodos"
        >
          Novoclick
        </h4>
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>
<div class="cardContent modal-body row">

  <div class=" col-md-6">
    <div class="">
      <div class="card-content">
        <h1 class="title">Conceptos básicos sobre el Growth Hacking</h1>
        <h2 class="subtitle"></h2>
        <p class="description">
          Aprende a posicionar tu marca con experimentos sobre resultados y
          optimización de recursos. En este curso aprendes a generar mayor
          conversión con menor inversión en canales digitales.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card-image">
      <img
        src="../../../../assets/images/academia_novoclick/Conceptos basicos sobre.jpg"
      />
    </div>
  </div>

</div>

<div class="container carouselContainer">
  <div class="row">
    <div class="col-12">
      <app-carousel></app-carousel>
    </div>
  </div>
</div>
