<div class="container">
    <div class="row">
      <div class="col-sm">
       
      </div>
      <div class="col-sm">
        <div class="col-xs-12 col-sm-4 col-md-8">
            <h1 style="font-size: 5rem; color: #4ac3f2; font: 90px sans-serif;" class="h3">Academia</h1>
            <p class="line">______________________</p>
            <h4 class="" style="font-size: 2rem; color: #606060; font: 90px sans-serif;">Novoclick</h4>
          </div>
      </div>
      <div class="col-sm">
        
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
         

        <div class="contenedor-academia">
            <div class="academia-titulo">
                <h1 id="ttitulo-academia">Conceptos básicos sobre el Growth Hacking</h1>
                <p id="lineAcade">______________</p>
                <p id="text-academia">
                    Aprende a posicionar tu marca con experimentos sobre resultados y optimización de recursos. En este curso aprendes a generar mayor conversión con menor inversión en canales digitales.
                </p>
            </div>
            <div class="academia-detail">
                <img id="academy" src="../../../../assets/images/academia_novoclick/Conceptos básicos sobre.jpg" alt="" srcset="">
            </div>
        </div>


      </div>
    </div>
  </div>