<div class="container-fluid contenedorFooter">
  <div class="row footer-top">
    <div class="col-sm-4 text-center">
      <img
        class="imgFooter"
        src="../../../../assets/images/LOGONOVOCLICK.png"
      />
      <p class="text-white h4">
        Somos la autoridad de marketing digital con 18 años de experiencia y
        presencia en 5 países (Colombia, España, Panamá, México y Perú) con 9
        millones de suscriptores, donde cocinamos las recetas que necesitas para
        incrementar de forma inmediata y sobresaliente el volumen de usuarios,
        ingresos o impac- tos de tú empresa
      </p>
    </div>
    <div class="col-sm-4 text-center border-left">
      <h4 class="ft-text-title">Contacto</h4>
      <div class="address-member">
        <p class="text-white h4">
          Correo: ceo@novoclick.net Teléfono: SOPORTE NOVOCLICK Panamá: (507)
          391 25 64 - 6740-7458 - 6047 34 33 Miami: (1) 305 4205329 Madrid: (34)
          910 603 675 México: (52) 554 169 6824 Bogotá: (57) 6130800 - 2719855 -
          5331124- 2712140
        </p>
      </div>
    </div>
    <div class="col-sm-4 col-xs-12 text-center border-left">
      <h4 class="ft-text-title">Siguenos en:</h4>
      <div class="contenedor redes-sociales ">
        <a href="https://www.instagram.com/novoclickt/" target="_blank"
          ><img
            id="icono-redes"
            src="../../../../assets/images/redes-sociales/Mesa de trabajo 64.png"
            alt="Instagram"
            srcset=""
        /></a>
        <a href="https://twitter.com/Novoclick" target="_blank"
          ><img
            id="icono-redes"
            src="../../../../assets/images/redes-sociales/Mesa de trabajo 65.png"
            alt="Twitter"
            srcset=""
        /></a>
        <a href="https://www.facebook.com/novoclick" target="_blank"
          ><img
            id="icono-redes"
            src="../../../../assets/images/redes-sociales/Mesa de trabajo 66.png"
            alt="FaceBook"
            srcset=""
        /></a>
        <a
          href="https://www.linkedin.com/company/3258663/admin/"
          target="_blank"
          ><img
            id="icono-redes"
            src="../../../../assets/images/redes-sociales/Mesa de trabajo 67.png"
            alt="Linkedin"
            srcset=""
        /></a>
        <a
          href="https://www.pinterest.es/novoclickgroup/_created/"
          target="_blank"
          ><img
            id="icono-redes"
            src="../../../../assets/images/redes-sociales/Mesa de trabajo 68.png"
            alt="Pinterest"
            srcset=""
        /></a>
      </div>
    </div>
  </div>
  <div class="row ft-copyright pt-2 pb-2" style="padding-left: 25px">
    <div class="col-sm-4 text-pp-crt"></div>
    <div class="col-sm-4 text-pp-crt-rg">
    </div>
    <div class="col-sm-4 developer">
      <a href="https://topline-tech.com" target="_blank" class="text-pp-crt"
        > </a
      >
    </div>
  </div>
</div>
