.navbarCss{ 
    background: linear-gradient(to right, #000, #081f31, #0e3555, #164769, #4bbbe8);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 9999;
}
.container-hamburger {
    position: relative;
    top: 5px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    margin-left: 40px;
    margin-bottom: 5px;
}

.navbarText{
    margin-right: 7.5%;
}

@media screen and (max-width: 600px) {
    .navbarCss{ 
        background: linear-gradient(to right, #000, #081f31, #0e3555, #164769, #4bbbe8);
        height: 150px;
        
    }
    
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    margin-top: 1%;
 }
}
