@media only screen and (min-width: 425px) {
    .video{
        position: inherit;
        margin-top: 12.5%;
        padding-bottom: 9%;
        width: 400%;
        display: block;
     }
     .contenedor-bienvenida {
        display: flex;
        position: absolute;
        justify-content: flex-start;
        margin-top: -0%;
        margin-left: 8%;
        transform: translate(6px, -120%);
    }
    .container-welcome {
        position: relative;
        margin-left: 25px;
    }
     
    .boton{
        cursor: pointer;
        margin-top: 53%;
        margin-left: -71%;
        position: absolute;
    }
}
@media only screen and (min-width: 768px) {
    .video{
        position: inherit;
        margin-top: 8.5%;
        padding-bottom: 9%;
        width: 238%;
        display: block;
     }
     .contenedor-bienvenida {
        display: flex;
        position: absolute;
        justify-content: flex-start;
        margin-top: -0%;
        margin-left: 8%;
        transform: translate(21px, -149%);
    
    }
    .container-welcome {
        position: relative;
        margin-left: 25px;
    }
     
    .boton{
        cursor: pointer;
        margin-top: 53%;
        margin-left: -71%;
        position: absolute;
    }
}
@media only screen and (min-width: 1024px) {
    .video{
        position: inherit;
        margin-top: 1.5%;
        padding-bottom: 9%;
        width: 100%;
        display: block;
     }
     .contenedor-bienvenida {
        display: flex;
        position: absolute;
        justify-content: flex-start;
        margin-top: -0%;
        margin-left: 8%;
        transform: translate(10px, -155%);
    
    }
    .container-welcome {
        position: relative;
        margin-left: 25px;
    }
     
    .boton{
        cursor: pointer;
        margin-top: 53%;
        margin-left: -71%;
        position: absolute;
    }
}
@media only screen and (min-width: 1440px) {
    .video{
        position: inherit;
        margin-top: 1.5%;
        padding-bottom: 9%;
        width: 100%;
        display: block;
     }
     .contenedor-bienvenida {
        display: flex;
        position: absolute;
        justify-content: flex-start;
        margin-top: -48%;
        margin-left: 8%;
        transform: translate(10px, -235%);
    
    }
    .container-welcome {
        position: relative;
        margin-left: 25px;
    }
     
    .boton{
        cursor: pointer;
        margin-top: 53%;
        margin-left: -71%;
        position: absolute;
    }
}
  
