<!--------------------------------------------------------------------------------------------------------->
<div id="carouselInmobiliario" class="carousel" data-ride="carousel">
  <div class="carousel-inner">

      
      <h1  style="
      font-size: 55px;
      color: white;
      text-align: center;
      margin-top: 5%;
      margin-bottom: 2%;
  ">Sector Inmobiliario</h1>

    <div class="carousel-item active" data-interval="0">
      <img
        class="d-block w-100"
        src="../../../../assets/images/clientes-new/sector-inmobiliario/Mesa de trabajo 67.png"
        alt="First slide"
      />
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item" data-interval="0">
      <img
        class="d-block w-100"
        src="../../../../assets/images/clientes-new/sector-inmobiliario/Mesa de trabajo 68.png"
        alt="Second slide"
      />
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>

    <div class="carousel-item" data-interval="0">
      <img
        class="d-block w-100"
        src="../../../../assets/images/clientes-new/sector-inmobiliario/Mesa de trabajo 69.png"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
       
      </div>
    </div>

    <div class="carousel-item" data-interval="0">
      <img
        class="d-block w-100"
        src="../../../../assets/images/clientes-new/sector-inmobiliario/Mesa de trabajo 70.png"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
       
      </div>
    </div>


  </div>
  <a
    class="carousel-control-prev"
    href="#carouselInmobiliario"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselInmobiliario"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
