<div class="imghoyosTitleContainer">
  <img
    src="../../../../assets/images/hoyos/logo hoyos y asociados.png"
    alt="logo hoyos"
    class="imgHoyostitle"
  />
</div>
<app-carousel-hoyos></app-carousel-hoyos>
<div class="col containerTitle">
  <div class="row text-center text-xs-center text-sm-left text-md-left">
    <div class="col-xs-12 col-sm-8 col-md-8 divsomos">
      <h3 class="titulouno">PROCESO</h3>
      <p class="line">______________________</p>
      <br />
      <br />
      <h4 id="titulodos">PLANIFICACION</h4>
    </div>
  </div>
</div>
<div class="card containerCardsHoyos">
  <div class="card-body">
    <div class="container">
      <div class="row moverCards">
        <div class="col-xs-4 col-sm-4 col-md-4 marginContainer1">
          <div class="">
            <div class="containerTitleHoyos">
              <h1 class="number">1</h1>
              <p class="h3 titleHoyos">IDENTIFICAR</p>
              <img
                height="200"
                src="../../../../assets/images/hoyos/identificar.png"
              />
              <p style="text-align: center" class="h5 descriptionCardsHoyos">
                is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since
                the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 marginContainer2">
          <div  class="">
            <div class="containerTitleHoyos">
              <h1 class="number">2</h1>
              <p class="h3 titleHoyos">CONECTAR</p>
              <img
                height="200"
                src="../../../../assets/images/hoyos/conectar.png"
              />
              <p style="text-align: center" class="h5 descriptionCardsHoyos">
                is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since
                the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 marginContainer3">
          <div  class="">
            <div class="containerTitleHoyos">
              <h1 class="number">3</h1>
              <p class="h3 titleHoyos">OPTIMIZAR</p>
              <img
                height="200"
                src="../../../../assets/images/hoyos/optimizar.png"
              />
              <p style="text-align: center" class="h5 descriptionCardsHoyos">
                is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since
                the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-carousel-hoyos2></app-carousel-hoyos2>
<div class="col containerTitle2">
  <div class="row text-center text-xs-center text-sm-left text-md-left">
    <div class="col-xs-12 col-sm-8 col-md-8 divsomos">
      <h3 class="titulouno">ESTRUCTURA</h3>
      <p class="line">______________________</p>
      <br />
      <br />
      <h4 id="titulodos">ORGANIGRAMA</h4>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
  <div>
    <img
      class="endHoyosImg"
      src="../../../../assets/images/hoyos/organigrama-100.jpg"
      alt="Card image"
    />
  </div>
</div>
