@media (min-width: 1024px) {
  .cardContent {
    border-radius: 30px;
    box-shadow: 13px 13px 21px #999;
    margin-left: 2%;
    transform: translateX(135px);
    width: 100%;
  }
  .card {
    flex-direction: row;
    max-width: 75rem;
  }
  .card-image {
    height: 300px;
    flex-basis: 40%;
  }
  .card-content {
    margin-left: -20%;
  }
  .title{
    text-align: center;
    width: 66%;
    margin-left: 6%;
  }
}
