<div class="container my-4 visibleCarousel contenedorCarousel">
  <hr class="my-4" />

  <!--Carousel Wrapper-->
  <div
    id="aperitivoCarousel"
    class="carousel slide carousel-multi-item"
    data-ride="carousel"
    attr.data-interval={{time}}
  >
    <!--Controls-->
    <div class="controls-top">
      <a
        class="btn-floating prevbtn"
        href="#aperitivoCarousel"
        data-slide="prev"
        ><i class="fa fa-chevron-left"></i
      ></a>
      <a
        class="btn-floating nextbtn"
        href="#aperitivoCarousel"
        data-slide="next"
        ><i class="fa fa-chevron-right"></i
      ></a>
    </div>
    <!--/.Controls-->

    <!--Slides-->
    <div class="carousel-inner " role="listbox">
      <!--First slide-->
      <div class="carousel-item active" >
        <div class="row">
        
          <div *ngFor="let c of card |slice:0:3; let i = index" class="col-md-4">
            <div
              style="border-radius: 30px; box-shadow: 2px 2px 5px #999;height: 185px;"
              class="card mb-2"
            >
              <img
                class="card-img-top img-carousel"
                src="{{c.img}}"
                alt="Card image cap"
              />
              <br />
              <h4 class="card-title text-center h5">{{c.title}}  </h4>
               <div (click)="onSelectCard(c.id, c.desc, c.title)" class="form-group text-center">
                <div class="form-group text-center">
               <button 
                    class="botonInput btn"
                    id="{{c.id}}"
                  ></button>
                  <label for="{{c.id}}"></label>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!--/.First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="row">

           <div *ngFor="let c of card |slice:3:6; let i = index" class="col-md-4">
            <div
              style="border-radius: 30px; box-shadow: 2px 2px 5px #999;height: 185px;"
              class="card mb-2"
            >
              <img
                class="card-img-top img-carousel"
                src="{{c.img}}"
                alt="Card image cap"
              />
              <br />
              <h4 class="card-title text-center h5">{{c.title}}  </h4>
               <div (click)="onSelectCard(c.id, c.desc, c.title)" class="form-group text-center">
                <div class="form-group text-center">
                  <button 
                    class="botonInput btn"
                    id="{{c.id}}"
                  ></button>
                  <label for="{{c.id}}"></label>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <!--/.Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="row">
          <div *ngFor="let c of card |slice:6:9; let i = index" class="col-md-4">
            <div
              style="border-radius: 30px; box-shadow: 2px 2px 5px #999;height: 185px;"
              class="card mb-2"
            >
              <img
                class="card-img-top img-carousel"
                src="{{c.img}}"
                alt="Card image cap"
              />
              <br />
              <h4 class="card-title text-center h5">{{c.title}}  </h4>
               <div (click)="onSelectCard(c.id, c.desc, c.title)" class="form-group text-center">
                <div class="form-group text-center">
               <button 
                    class="botonInput btn"
                    id="{{c.id}}"
                  ></button>
                  <label for="{{c.id}}"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="aperitivosCard" class="invisibleCard">
    <div class="titleCardDescription">
      <h4 class="mb-2 titleCard">{{title}}</h4>
    <p style=
    "
    font-size: 15px;
    color: #17456d !important;
    font-family: 'Roboto';
    "
    class="mb-2 cardSubtitle">Ingredientes</p>
    </div>
    <div class="imgCardDescription">
      <img class="imgCardDescPlato" src="../../../../../assets/images/+fotos platos digitales/menu-platosD/aperitivos.png">
    </div>
    <div>
      <pre class="descriptionPlatoDigital">
        {{desc}}
      </pre>
    </div>
    <div (click)="sendPlato()" class="botonAgregarCard">
      <a> <i class="fa fa-thumbs-up text-white textAgregarCard" aria-hidden="true"></i></a>
    </div>
  </div>

</div>
