<div style="margin-left: 13%" class="col-md-12">
  <div
    id="carouselHoyos2"
    class="carousel slide"
    data-ride="carousel"
    attr.data-interval="0"
  >
    <div class="carousel-inner">

      <div class="carousel-item active">
        <div class="row">

          <div class="col-sm-3 sombra">
            <img class="logoHoyos" src="../../../../../assets/images/hoyos/logo hoyos y asociados.png">
            <div class="card noRotate">
              <div class="on">
                <img
                class="carousel-itemimg "
                  src="../../../../../assets/images/hoyos/1tegilogo.jpeg"
                  alt="img2"
                />
               
              </div>
              <div class="subTitleCarousel2">
                <p>Aprende Mas</p>
                <button class="btn btn-primary"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
              </div>
              <div class="reverseContent marginReverse">
                <h1></h1>
                <br />
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-sm-3 sombra">
            <img class="logoHoyos" src="../../../../../assets/images/hoyos/logo hoyos y asociados.png">
            <div class="card noRotate">
              <div class="on">
                <img
                class="carousel-itemimg "
                  src="../../../../../assets/images/hoyos/2ecarlogo.jpeg"
                  alt="img2"
                />
               
              </div>
              <div class="subTitleCarousel2">
                <p>Aprende Mas</p>
                <button class="btn btn-primary"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
              </div>
              <div class="reverseContent marginReverse">
                <h1></h1>
                <br />
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-sm-3 sombra">
            <img class="logoHoyos" src="../../../../../assets/images/hoyos/logo hoyos y asociados.png">
            <div class="card noRotate">
              <div class="on">
                <img
                class="carousel-itemimg "
                  src="../../../../../assets/images/hoyos/3infometer.jpeg"
                  alt="img2"
                />
               
              </div>
              <div class="subTitleCarousel2">
                <p>Aprende Mas</p>
                <button class="btn btn-primary"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
              </div>
              <div class="reverseContent marginReverse">
                <h1></h1>
                <br />
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-sm-3 sombra">
            <img class="logoHoyos" src="../../../../../assets/images/hoyos/logo hoyos y asociados.png">
            <div class="card noRotate">
              <div class="on">
                <img
                class="carousel-itemimg "
                  src="../../../../../assets/images/hoyos/4videotracklogo.jpeg"
                  alt="img2"
                />
               
              </div>
              <div class="subTitleCarousel2">
                <p>Aprende Mas</p>
                <button class="btn btn-primary"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
              </div>
              <div class="reverseContent marginReverse">
                <h1></h1>
                <br />
                <p></p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="carousel-item">
        <div class="row">

          <div class="col-sm-3 sombra">
            <img class="logoHoyos" src="../../../../../assets/images/hoyos/logo hoyos y asociados.png">
            <div class="card noRotate">
              <div class="on">
                <img
                class="carousel-itemimg "
                  src="../../../../../assets/images/hoyos/5info99logo.jpeg"
                  alt="img2"
                />
               
              </div>
              <div class="subTitleCarousel2">
                <p>Aprende Mas</p>
                <button class="btn btn-primary"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
              </div>
              <div class="reverseContent marginReverse">
                <h1></h1>
                <br />
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-sm-3 sombra">
            <img class="logoHoyos" src="../../../../../assets/images/hoyos/logo hoyos y asociados.png">
            <div class="card noRotate">
              <div class="on">
                <img
                class="carousel-itemimg "
                  src="../../../../../assets/images/hoyos/6raclogo.jpeg"
                  alt="img2"
                />
               
              </div>
              <div class="subTitleCarousel2">
                <p>Aprende Mas</p>
                <button class="btn btn-primary"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
              </div>
              <div class="reverseContent marginReverse">
                <h1></h1>
                <br />
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-sm-3 sombra">
            <img class="logoHoyos" src="../../../../../assets/images/hoyos/logo hoyos y asociados.png">
            <div class="card noRotate">
              <div class="on">
                <img
                class="carousel-itemimg "
                  src="../../../../../assets/images/hoyos/7medialogo.jpeg"
                  alt="img2"
                />
               
              </div>
              <div class="subTitleCarousel2">
                <p>Aprende Mas</p>
                <button class="btn btn-primary"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
              </div>
              <div class="reverseContent marginReverse">
                <h1></h1>
                <br />
                <p></p>
              </div>
            </div>
          </div>

          <div class="col-sm-3 sombra">
            <img class="logoHoyos" src="../../../../../assets/images/hoyos/logo hoyos y asociados.png">
            <div class="card noRotate">
              <div class="on">
                <img
                class="carousel-itemimg "
                  src="../../../../../assets/images/hoyos/8a_flogo.jpeg"
                  alt="img2"
                />
               
              </div>
              <div class="subTitleCarousel2">
                <p>Aprende Mas</p>
                <button class="btn btn-primary"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
              </div>
              <div class="reverseContent marginReverse">
                <h1></h1>
                <br />
                <p></p>
              </div>
            </div>
          </div>

        </div>
      </div>


    </div>

    <!-- Carousel controls -->
    <a class="carousel-control-prev" href="#carouselHoyos2" data-slide="prev">
      <i class="fa fa-angle-left"></i>
    </a>
    <a class="carousel-control-next" href="#carouselHoyos2" data-slide="next">
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div>
