@media (min-width: 768px) {

  .carousel {
    margin: 50px auto;
    padding: 0 70px;
  }
  .carousel .carousel-item {
    min-height: 330px;
    text-align: center;
    overflow: hidden;
  }
  .carousel .carousel-item .img-box {
    height: 160px;
    width: 100%;
    position: relative;
  }
  .carousel .carousel-item img {
    width: 190px;
    height: 300px;
    position: absolute;
    margin-left: -43%;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
  }
  .carousel-control-prev i,
  .carousel-control-next i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
  }
  .carousel-control-prev i {
    margin-left: -3px;
  }
  .carousel-control-next i {
    margin-right: -3px;
  }
  
  .card {
    position: relative;
    height: 276px;
    width: 210px;
    transition: all 0.6s ease;
    margin: 20px;
    transform-style: preserve-3d;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 3%;
  }
  .noRotate {
    top: 0%;
  }
  .rotate {
    transform: rotateY(180deg);
  }
  .on,
  .reverseContent {
    width: 150px;
    background: #ffffff;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 5px;
    animation-delay: 0, 5s;
    animation-duration: 0, 1s;
    animation-fill-mode: both;
    animation-iteration-count: 100;
    animation-timing-function: ease;
  }
  h1 {
    margin: 0;
  }
  .reverseContent {
    transform: rotateY(180deg);
    font-family: "Eras ITC";
    transition: all 0.6s ease;
    animation-name: arkaPencere;
    animation-delay: 0, 5s;
    animation-duration: 5s;
    animation-iteration-count: 10;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
  .marginReverse{
    margin-left: 15%;
  }
  .noVisibleCard {
    display: none;
  }
  h3.titulouno {
    font-size: 70px;
    color: #4ac3f2;
    margin: 0;
    margin-left: 22%;
  }
  
  h4#titulodos {
    font-size: 60px;
    color: #606060;
    margin-top: -15px;
    text-align: center;
    margin-left: 61%;
  }
  p.line {
    text-align: inherit; 
    font-weight: 900;
    color: #4ac3f2;
    margin-top: -5%;
    margin-left: 25%;
  }
  .divsomos{
    margin-left: 50%;
    margin-top: 10%;
  }
  
  .toolsTitle{
    margin-left: -50%;
  }
  .toolsP{
    width: 233%;
    margin-left: -30%;
  }

}

@media (min-width: 1024px) {
.texttomato{
  margin-left: -37% !important;
  transform: translateX(61%);
  font-size: 25px;
}
.carousel {
  padding: 0 70px;
  margin-left: -81%;
  transform: translateX(45%);
}
  .carousel .carousel-item {
    min-height: 330px;
    text-align: center;
    overflow: hidden;
  }
  .carousel .carousel-item .img-box {
    height: 160px;
    width: 100%;
    position: relative;
  }
  .carousel .carousel-item img {
    width: 160px;
    height: 300px;
    position: absolute;
    margin-left: -43%;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
  }
  .carousel-control-prev i,
  .carousel-control-next i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
  }
  .carousel-control-prev i {
    margin-left: -3px;
  }
  .carousel-control-next i {
    margin-right: -3px;
  }
  
  .card {
    position: relative;
    height: 276px;
    width: 210px;
    transition: all 0.6s ease;
    margin: 20px;
    transform-style: preserve-3d;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 3%;
  }
  .noRotate {
    top: 0%;
  }
  .rotate {
    transform: rotateY(180deg);
  }
  .on,
  .reverseContent {
    width: 150px;
    background: #ffffff;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 5px;
    animation-delay: 0, 5s;
    animation-duration: 0, 1s;
    animation-fill-mode: both;
    animation-iteration-count: 100;
    animation-timing-function: ease;
  }
  h1 {
    margin: 0;
  }
  .reverseContent {
    transform: rotateY(180deg);
    font-family: "Eras ITC";
    transition: all 0.6s ease;
    animation-name: arkaPencere;
    animation-delay: 0, 5s;
    animation-duration: 5s;
    animation-iteration-count: 10;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
  .marginReverse{
    margin-left: 15%;
  }
  .noVisibleCard {
    display: none;
  }
  h3.titulouno {
    font-size: 70px;
    color: #4ac3f2;
    margin: 0;
    margin-left: 100%;
  }
  
  h4#titulodos {
    font-size: 60px;
    color: #606060;
    margin-top: -15px;
    text-align: center;
    margin-left: 156%;
  }
  p.line {
    text-align: inherit;
    font-weight: 900;
    color: #4ac3f2;
    margin-top: -4%;
    margin-left: 100%;
  }
  .divsomos{
    margin-left: 50%;
    margin-top: 10%;
  }
  
  .toolsTitle{
    margin-left: -50%;
  }
  .toolsP{
    width: 233%;
    margin-left: -30%;
  }

}

@media (min-width: 1440px) {
  .texttomato{
    margin-left: 0px;
    transform: translateX(13%);
    font-size: 25px;
  }
  .carousel {
    margin: 50px auto;
    padding: 0 70px;
    margin-left: 0px;
    transform: translateX(0%);
  }
  .carousel .carousel-item {
    min-height: 330px;
    text-align: center;
    overflow: hidden;
  }
  .carousel .carousel-item .img-box {
    height: 160px;
    width: 100%;
    position: relative;
  }
  .carousel .carousel-item img {
    width: 190px;
    height: 300px;
    position: absolute;
    margin-left: -43%;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
  }
  .carousel-control-prev i,
  .carousel-control-next i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
  }
  .carousel-control-prev i {
    margin-left: -3px;
  }
  .carousel-control-next i {
    margin-right: -3px;
  }
  
  .card {
    position: relative;
    height: 276px;
    width: 210px;
    transition: all 0.6s ease;
    margin: 20px;
    transform-style: preserve-3d;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 3%;
  }
  .noRotate {
    top: 0%;
  }
  .rotate {
    transform: rotateY(180deg);
  }
  .on,
  .reverseContent {
    width: 150px;
    background: #ffffff;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 5px;
    animation-delay: 0, 5s;
    animation-duration: 0, 1s;
    animation-fill-mode: both;
    animation-iteration-count: 100;
    animation-timing-function: ease;
  }
  h1 {
    margin: 0;
  }
  .reverseContent {
    transform: rotateY(180deg);
    font-family: "Eras ITC";
    transition: all 0.6s ease;
    animation-name: arkaPencere;
    animation-delay: 0, 5s;
    animation-duration: 5s;
    animation-iteration-count: 10;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
  .marginReverse{
    margin-left: 15%;
  }
  .noVisibleCard {
    display: none;
  }
  h3.titulouno {
    font-size: 70px;
    color: #4ac3f2;
    margin: 0;
    margin-left: 22%;
  }
  
  h4#titulodos {
    font-size: 60px;
    color: #606060;
    margin-top: -15px;
    text-align: center;
    margin-left: 61%;
  }
  p.line {
    text-align: inherit;
    font-weight: 900;
    color: #4ac3f2;
    margin-top: -2%;
    margin-left: 22%;
  }
  .divsomos{
    margin-left: 50%;
    margin-top: 10%;
  }
  
  .toolsTitle{
    margin-left: -50%;
  }
  .toolsP{
    width: 233%;
    margin-left: -30%;
  }

}

@media (min-width: 1920px) {
  .texttomato{
    margin-left: 0px;
    transform: translateX(13%);
    font-size: 25px;
  }
  .carousel {
    margin: 50px auto;
    padding: 0 70px;
    margin-left: 0px;
    transform: translateX(0%);
  }
  .carousel .carousel-item {
    min-height: 330px;
    text-align: center;
    overflow: hidden;
  }
  .carousel .carousel-item .img-box {
    height: 160px;
    width: 100%;
    position: relative;
  }
  .carousel .carousel-item img {
    width: 190px;
    height: 300px;
    position: absolute;
    margin-left: -43%;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    height: 100px;
    width: 40px;
    background: none;
    margin: auto 0;
    background: rgba(0, 0, 0, 0.2);
  }
  .carousel-control-prev i,
  .carousel-control-next i {
    font-size: 30px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -16px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    font-weight: bold;
  }
  .carousel-control-prev i {
    margin-left: -3px;
  }
  .carousel-control-next i {
    margin-right: -3px;
  }
  
  .card {
    position: relative;
    height: 276px;
    width: 210px;
    transition: all 0.6s ease;
    margin: 20px;
    transform-style: preserve-3d;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 3%;
  }
  .noRotate {
    top: 0%;
  }
  .rotate {
    transform: rotateY(180deg);
  }
  .on,
  .reverseContent {
    width: 150px;
    background: #ffffff;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    border-radius: 5px;
    animation-delay: 0, 5s;
    animation-duration: 0, 1s;
    animation-fill-mode: both;
    animation-iteration-count: 100;
    animation-timing-function: ease;
  }
  h1 {
    margin: 0;
  }
  .reverseContent {
    transform: rotateY(180deg);
    font-family: "Eras ITC";
    transition: all 0.6s ease;
    animation-name: arkaPencere;
    animation-delay: 0, 5s;
    animation-duration: 5s;
    animation-iteration-count: 10;
    animation-timing-function: ease;
    animation-fill-mode: both;
  }
  .marginReverse{
    margin-left: 15%;
  }
  .noVisibleCard {
    display: none;
  }
  h3.titulouno {
    font-size: 70px;
    color: #4ac3f2;
    margin: 0;
    margin-left: 22%;
  }
  
  h4#titulodos {
    font-size: 60px;
    color: #606060;
    margin-top: -15px;
    text-align: center;
    margin-left: 61%;
  }
  p.line {
    text-align: inherit;
    font-weight: 900;
    color: #4ac3f2;
    margin-top: -2%;
    margin-left: 22%;
  }
  .divsomos{
    margin-left: 50%;
    margin-top: 10%;
  }
  
  .toolsTitle{
    margin-left: -50%;
  }
  .toolsP{
    width: 233%;
    margin-left: -30%;
  }

}