<div class="row titleTools">
  <div class="col">
    <div  class="toolsTitle row text-center text-xs-center text-sm-left text-md-left">
      
     
      <div class="col-xs-12 col-sm-4 col-md-4 divsomos">
        <h3 class="titulouno">HERRAMIENTAS</h3>
        <br>
        <p class="line">______________________</p>
        <br>
        <br>
        <div id="avatar3"  style="display: none;"  class="avatar ">
          <div>
              <div class="img-avatar">
                  <img src="../../../../assets/images/nuevosAvatars/herramientasnovoclick.png">
              </div>
              <div class="text-avatar buttonAvatar">
                  <button class="btn-avatar active-elements">VAMOS</button>
                  <a class="no-show-avatar">Omitir </a>
              </div>
          </div>
        </div>
        <h4 id="titulodos">NOVOCLICK</h4>
      </div>
    </div>
  </div>
</div>

<div style="margin-top: 2.5%;" class="row">
  <div class="col"></div>
  <div class="col">
      <div  class="toolsP border-light mb-3" >
          <div class="">
            <p style="margin-left: 5%;" class=" h5 texttomato">
              La magia de nuestras recetas de los platos sucede gracias a nuestro 
              equipo de chefs digitales, son más de 50 profesionales con compromiso de alta 
              calidad, quienes son referentes
              de alto conocimiento experiencial de las siguientes herramientas Novoclick.
            </p>
          </div>
    </div>
  </div>
  <div class="col"></div>
</div>

<div style="margin-left: 13%;" class="col-md-12">
  <div
    id="myCarousel"
    class="carousel slide"
    data-ride="carousel"
    attr.data-interval="{{time}}"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div
            *ngFor="let c of card | slice: 0:4; let i = index"
            class="col-sm-3"
          >

            <div
            (click)="rotateCard(c.id, c.state)"
            id="{{c.id}}"
              class="card noRotate"
            >
              <div class="on">
                <img
                  src="{{ c.img }}"
                  alt="img2"
                />
              </div>

              <div class="reverseContent marginReverse">
                <h1>
                  <a>{{ c.title }}</a>
                </h1>
                <br />
                <p>
                  {{ c.description }}
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <div
            *ngFor="let c of card | slice: 4:8; let i = index"
            class="col-sm-3"
          >

            <div
            (click)="rotateCard(c.id, c.state)"
            id="{{c.id}}"
              class="card noRotate"
            >
              <div class="on">
                <img
                  src="{{ c.img }}"
                  alt="img2"
                />
              </div>

              <div class="reverseContent marginReverse">
                <h1>
                  <a>{{ c.title }}</a>
                </h1>
                <br />
                <p>
                  {{ c.description }}
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <div
            *ngFor="let c of card | slice: 8:12"
            class="col-sm-3"
          >
            <div
              (click)="rotateCard(c.id, c.state)"
              id="{{c.id}}"
              class="card noRotate"
            >
              <div class="on">
                <img
                  src="{{ c.img }}"
                  alt="img2"
                />
              </div>

              <div class="reverseContent marginReverse">
                <h1>
                  <a>{{ c.title }}</a>
                </h1>
                <br />
                <p>
                  {{ c.description }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">
          <div
            *ngFor="let c of card | slice: 12:16; let i = index"
            class="col-sm-3"
          >
            <div
            (click)="rotateCard(c.id, c.state)"
            id="{{c.id}}"
              class="card noRotate"
            >
              <div class="on">
                <img
                  src="{{ c.img }}"
                  alt="img2"
                />
              </div>

              <div class="reverseContent marginReverse">
                <h1>
                  <a>{{ c.title }}</a>
                </h1>
                <br />
                <p>
                  {{ c.description }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="carousel-item">
        <div class="row">
          <div
            *ngFor="let c of card | slice: 16:20; let i = index"
            class="col-sm-3"
          >
            <div
            (click)="rotateCard(c.id, c.state)"
              id="{{c.id}}"
              class="card noRotate"
            >
              <div class="on">
                <img
                  src="{{ c.img }}"
                  alt="img2"
                />
              </div>

              <div class="reverseContent marginReverse">
                <h1>
                  <a>{{ c.title }}</a>
                 
                </h1>
                <br />
                <p>
                  {{ c.description }}
                </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>


      <div class="carousel-item">
        <div class="row">
          <div
            *ngFor="let c of card | slice: 20:24; let i = index"
            class="col-sm-3"
          >
            <div
            (click)="rotateCard(c.id, c.state)"
            id="{{c.id}}"
              class="card noRotate"
            >
              <div class="on">
                <img
                  src="{{ c.img }}"
                  alt="img2"
                />
              </div>

              <div  class="reverseContent marginReverse">
                <h1>
                  <a>{{ c.title }}</a>
                 
                </h1>
                <br />
                <p>
                  {{ c.description }}
                </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>

    </div>

    <!-- Carousel controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
      <i class="fa fa-angle-left"></i>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div>
