/* You can add global styles to this file, and also import other style files */
.start {
  top: 0%;
}
.about {
  top: 0%;
}
.what {
  top: 0%;
}

.disableComponents {
  display: none;
}
.tools {
  top: 0%;
}
.dishes {
  top: 0%;
}
@media (min-width: 728px) {
 
}
@media (min-width: 1024px) {
  body,
  html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
  }
}
@media (min-width: 1440px) {
  body,
  html {
    margin: 0;
    padding: 0;
    overflow-x: d;
    max-width: 100%;
  }
}
@media (min-width: 1920px) {
  body,
  html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100%;
  }
}
