<div class="container my-4 visibleCarousel contenedorCarousel">
  <hr class="my-4" />

  <!--Carousel Wrapper-->
  <div
    id="multi-item-example1"
    class="carousel slide carousel-multi-item"
    data-ride="carousel"
    attr.data-interval={{time}}
  >
    <!--Controls-->
    <div class="controls-top">
      <a
        class="btn-floating prevbtn"
        href="#multi-item-example1"
        data-slide="prev"
        ><i class="fa fa-chevron-left"></i
      ></a>
      <a
        class="btn-floating nextbtn"
        href="#multi-item-example1"
        data-slide="next"
        ><i class="fa fa-chevron-right"></i
      ></a>
    </div>
    <!--/.Controls-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <!--First slide-->
      <div class="carousel-item active">
        <div class="row">
          <div class="col-md-4">
            <div
              style="border-radius: 30px; box-shadow: 2px 2px 5px #999"
              class="card mb-2"
            >
              <img
                class="card-img-top img-carousel"
                src="../../../../../assets/images/paltosDigitales/platosespeciales/A-PLATOS ESPECIAL DE CONVERSION PARA.png"
                alt="Card image cap"
              />
              <br />
              <h4 class="card-title text-center h5">De conversion</h4>
              <div class="form-group text-center">
                <div class="form-group text-center">
                  <input
                    type="checkbox"
                    id="checkboxEspeciales1"
                  />
                  <label for="checkboxEspeciales1"></label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 clearfix d-none d-md-block">
            <div
              style="border-radius: 30px; box-shadow: 2px 2px 5px #999"
              class="card mb-2"
            >
              <img
                class="card-img-top img-carousel"
                src="../../../../../assets/images/paltosDigitales/platosespeciales/B-PLATOS ESPECIALES POR OBJETIVO.png"
                alt="Card image cap"
              />
              <br />
              <h4 class="card-title text-center h5">Por objetivo</h4>
              <div class="form-group text-center">
                <div class="form-group text-center">
                  <input
                    type="checkbox"
                    id="checkboxEspeciales2"
                  />
                  <label for="checkboxEspeciales2"></label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 clearfix d-none d-md-block">
            <div
              style="border-radius: 30px; box-shadow: 2px 2px 5px #999"
              class="card mb-2"
            >
              <img
                class="card-img-top img-carousel"
                src="../../../../../assets/images/paltosDigitales/platosespeciales/C-PLATOS ESPECIALES INTERACTIVO.png"
                alt="Card image cap"
              />
              <br>
              <h4 class="card-title text-center h5">Interactivo</h4>
              <div class="form-group text-center">
                <div class="form-group text-center">
                  <input
                    type="checkbox"
                    id="checkboxEspeciales3"
                  />
                  <label for="checkboxEspeciales3"></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
